<!DOCTYPE html>
<html>
<script src="./node_modules/angular/angular.js"></script>
<script src="./node_modules/chai/chai.js"></script>
<script src="./node_modules/chart.js/dist/Chart.js"></script>
<script src="./node_modules/jquery/dist/jquery.js"></script>

<script src="./controller-chart.js"></script>

<link href="./node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
<link href="./node_modules/bootstrap/dist/css/bootstrap-theme.css.map" rel="stylesheet">

<style>
.controller-text {
    padding-left: 5px;
    padding-right: 10px;
}

.controller-text span {
    font-size: 90%;
    font-weight: 700;
}

.controller-text :nth-child(1) {
    font-weight: 400;
}

</style>

<body>

<div ng-app="myApp" ng-controller="myCtrl">

    <div class="container">
        <div class="row" style="min-width: 800px">
            <div class="col-xs-8 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body" style="height: 360px">

                        <div ng-show="c.charts[0].isShow()" ng-class="makeClass()">
                            <h4>{{c.charts[0].name}}</h4>
                            <div class="row">

                                <div class="col-md-9">
                                    <div style="width: 100%; height: 100px">
                                        <canvas class="main-chart" id="controller-a-cpu-chart" width="600" height="150"></canvas>
                                    </div>
                                </div>
                                <div class="col-md-3 controller-text">
                                    <span>CPU</span>
                                    <span>
                                        {{c.charts[0].cpu.last().utilization}}%&nbsp;
                                        {{c.charts[0].cpu.last().frequencyInGhz}}&nbsp;GHz
                                    </span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-9">
                                    <div style="width: 100%; height: 100px">
                                        <canvas class="main-chart" id="controller-a-memory-chart" width="600" height="150"></canvas>
                                    </div>
                                </div>
                                <div class="col-md-3 controller-text">
                                    <span>Memory</span>
                                    <span>
                                        {{c.charts[0].memory.last().usedInGb}}/{{c.charts[0].memory.last().totalInGb}}&nbsp;GB&nbsp;
                                        ({{c.charts[0].memory.last().utilization}}%)
                                    </span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-9">
                                    <div style="width: 100%; height: 100px">
                                        <canvas class="main-chart" id="controller-a-ethernet-chart" width="600" height="150"></canvas>
                                    </div>
                                </div>
                                <div class="col-md-3 controller-text">
                                    <span>Ethernet</span>
                                    <span>
                                        S: {{c.charts[0].ethernet.last().transmitInKbps}} R: {{c.charts[0].ethernet.last().receiveInKbps}} Kbps
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div ng-show="c.charts[1].isShow()" ng-class="makeClass()">
                            <h4>{{c.charts[1].name}}</h4>
                            <div class="row">
                                <div class="col-md-9">
                                    <div style="width: 100%; height: 100px">
                                        <canvas class="main-chart" id="controller-b-cpu-chart" width="600" height="150"></canvas>
                                    </div>
                                </div>
                                <div class="col-md-3 controller-text">
                                    <span>CPU</span>
                                    <span>
                                        {{c.charts[1].cpu.last().utilization}}%&nbsp;
                                        {{c.charts[1].cpu.last().frequencyInGhz}}&nbsp;GHz
                                    </span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-9">
                                    <div style="width: 100%; height: 100px">
                                        <canvas class="main-chart" id="controller-b-memory-chart" width="600" height="150"></canvas>
                                    </div>
                                </div>
                                <div class="col-md-3 controller-text">
                                    <span>Memory</span>
                                    <span>
                                        {{c.charts[1].memory.last().usedInGb}}/{{c.charts[1].memory.last().totalInGb}}&nbsp;GB&nbsp;
                                        ({{c.charts[1].memory.last().utilization}}%)
                                    </span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-9">
                                    <div style="width: 100%; height: 100px">
                                        <canvas class="main-chart" id="controller-b-ethernet-chart" width="600" height="150"></canvas>
                                    </div>
                                </div>
                                <div class="col-md-3 controller-text">
                                    <span>Ethernet</span>
                                    <span>
                                        S: {{c.charts[1].ethernet.last().transmitInKbps}} R: {{c.charts[1].ethernet.last().receiveInKbps}} Kbps
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div ng-show="c.charts[2].isShow()" ng-class="makeClass()">
                            <h4>{{c.charts[2].name}}</h4>
                            <div class="row">
                                <div class="col-md-9">
                                    <div style="width: 100%; height: 100px">
                                        <canvas class="main-chart" id="controller-c-cpu-chart" width="600" height="150"></canvas>
                                    </div>
                                </div>
                                <div class="col-md-3 controller-text">
                                    <span>CPU</span>
                                    <span>
                                        {{c.charts[2].cpu.last().utilization}}%&nbsp;
                                        {{c.charts[2].cpu.last().frequencyInGhz}}&nbsp;GHz
                                    </span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-9">
                                    <div style="width: 100%; height: 100px">
                                        <canvas class="main-chart" id="controller-c-memory-chart" width="600" height="150"></canvas>
                                    </div>
                                </div>
                                <div class="col-md-3 controller-text">
                                    <span>Memory</span>
                                    <span>
                                        {{c.charts[2].memory.last().usedInGb}}/{{c.charts[2].memory.last().totalInGb}}&nbsp;GB&nbsp;
                                        ({{c.charts[2].memory.last().utilization}}%)
                                    </span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-9">
                                    <div style="width: 100%; height: 100px">
                                        <canvas class="main-chart" id="controller-c-ethernet-chart" width="600" height="150"></canvas>
                                    </div>
                                </div>
                                <div class="col-md-3 controller-text">
                                    <span>Ethernet</span>
                                    <span>
                                        S: {{c.charts[2].ethernet.last().transmitInKbps}} R: {{c.charts[2].ethernet.last().receiveInKbps}} Kbps
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel-footer">CONTROLLER</div>
                </div>

            </div>
        </div> <!-- row -->

        <div class="row">
            <div class="col-md-2">
                <pre ng-click="pick_pattern1()">{{resp.pattern.data[0] | prettyJSON}}</pre>
            </div>
            <div class="col-md-2">
                <pre ng-click="pick_pattern2()">{{resp.pattern.data[1] | prettyJSON}}</pre>
            </div>
            <div class="col-md-2">
                <pre ng-click="pick_pattern3()">{{resp.pattern.data[2] | prettyJSON}}</pre>
            </div>
            <div class="col-md-2">
                <pre ng-click="pick_pattern4()">{{resp.pattern.data[3] | prettyJSON}}</pre>
            </div>
            <div class="col-md-2">
                <pre ng-click="pick_pattern5()">{{resp.pattern.data[4] | prettyJSON}}</pre>
            </div>
            <div class="col-md-2">
                <pre ng-click="pick_pattern6()">{{resp.pattern.data[5] | prettyJSON}}</pre>
            </div>
        </div>

    </div>

</div>

<script>

    var app = angular.module('myApp', []);
    app.filter('prettyJSON', function () {
        function prettyPrintJson(json) {
            return JSON ? JSON.stringify(json, null, '  ') : 'your browser doesnt support JSON so cant pretty print';
        }
        return prettyPrintJson;
    });

    app.controller('myCtrl', ['$scope', '$interval', function($scope, $interval) {
        $scope.c = controllerChart()
            .add({
                cpuChartCanvas: 'controller-a-cpu-chart',
                memoryChartCanvas: 'controller-a-memory-chart',
                ethernetChartCanvas: 'controller-a-ethernet-chart'
            })
            .add({
                cpuChartCanvas: 'controller-b-cpu-chart',
                memoryChartCanvas: 'controller-b-memory-chart',
                ethernetChartCanvas: 'controller-b-ethernet-chart'
            })
            .add({
                cpuChartCanvas: 'controller-c-cpu-chart',
                memoryChartCanvas: 'controller-c-memory-chart',
                ethernetChartCanvas: 'controller-c-ethernet-chart'
            });

        $scope.makeClass = function () {
            var total = 0;

            angular.forEach($scope.c.charts, function (ctrl) {
                if (ctrl.isShow()) {
                    total += 1;
                }
            });

            if (total === 0) {
                return 'col-md-12';
            }

            return 'col-md-' + (12 / total);
        };

        $scope.resp = {
            pattern: {
                data: [
                    [ 'ctrl1' ],
                    [ 'ctrl4' ],
                    [ 'ctrl1', 'ctrl2', 'ctrl3'],
                    [ 'ctrl3', 'ctrl2', 'ctrl1'],
                    [ 'ctrl1', 'ctrl2', 'ctrl4'],
                    [ 'ctrl1', 'ctrl4']
                ]
            }
        };

        $scope.resp.pattern.pick = $scope.resp.pattern.data[0];

        $scope.pick_pattern1 = function () {
            $scope.resp.pattern.pick = $scope.resp.pattern.data[0];
        };

        $scope.pick_pattern2 = function () {
            $scope.resp.pattern.pick = $scope.resp.pattern.data[1];
        };

        $scope.pick_pattern3 = function () {
            $scope.resp.pattern.pick = $scope.resp.pattern.data[2];
        };

        $scope.pick_pattern4 = function () {
            $scope.resp.pattern.pick = $scope.resp.pattern.data[3];
        };

        $scope.pick_pattern5 = function () {
            $scope.resp.pattern.pick = $scope.resp.pattern.data[4];
        };

        $scope.pick_pattern6 = function () {
            $scope.resp.pattern.pick = $scope.resp.pattern.data[5];
        };

        $interval(function () {
            var randomInt = function (min, max) {
                return Math.floor(Math.random() * (max - min + 1)) + min;
            };

            var rangeValue = function (min, max, value) {
                if (value < min) {
                    return min;
                }

                if (max < value) {
                    return max;
                }

                return value;
            };

            var resp = [],
                i;

            angular.forEach($scope.resp.pattern.pick, function (value, key) {
                resp.push({
                    name: value,
                    cpu: {
                        utilization: rangeValue(0, 100, $scope.c.charts[0].cpu.chartLast()[0] + randomInt(10, -10)),
                        frequencyInGhz: 2.20
                    },
                    memory: {
                        utilization: rangeValue(0, 100, $scope.c.charts[0].memory.chartLast()[0] + randomInt(3, -3)),
                        totalInGb: 4,
                        usedInGb: 1.5
                    },
                    ethernet: {
                        transmitInKbps: rangeValue(0, 100, $scope.c.charts[0].ethernet.chartLast()[0][0] + randomInt(10, -10)),
                        receiveInKbps: rangeValue(0, 100, $scope.c.charts[0].ethernet.chartLast()[1][0] + randomInt(10, -10))
                    }
                });
            });

            $scope.c.update(resp);
        }, 200);
    }]);

</script>

</body>
</html>