<!DOCTYPE html>
<html>
<script src="./node_modules/angular/angular.js"></script>
<script src="./node_modules/chai/chai.js"></script>
<script src="./node_modules/chart.js/dist/Chart.js"></script>
<script src="./node_modules/jquery/dist/jquery.js"></script>
<script src="./node_modules/lodash/lodash.min.js"></script>

<script src="./config.js"></script>
<script src="./controller-chart.js"></script>
<script src="./elasticsearch.angular.js"></script>
<script src="app/services/essearch.js"></script>
<script src="app/services/event-stats-bar.js"></script>

<link href="./node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
<link href="./node_modules/bootstrap/dist/css/bootstrap-theme.css.map" rel="stylesheet">
<script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

<style>
    #ov-event-view .controller > .panel-body {
        height: 360px;
    }

    #ov-event-view .row {
        padding-bottom: 5px;
    }

    .controller-text {
        padding-left: 5px;
        padding-right: 10px;
    }

    .controller-text span {
        font-size: 90%;
        font-weight: 700;
    }

    .controller-text :nth-child(1) {
        font-weight: 400;
    }

    #ov-event-view .chat ul {
        list-style: none;
        margin: -15px;
        padding: 15px;
    }

    #ov-event-view .chat ul li {
        margin-bottom: 10px;
        padding: 15px 5px;
        border-bottom: 1px solid #eee;
    }

    #ov-event-view .chat ul li.danger {
        border-left: solid;
        border-left-width: 0.5em;
        border-left-color: #ed1c24;
    }

    #ov-event-view .chat ul li.warning {
        border-left: solid;
        border-left-width: 0.5em;
        border-left-color: rgb(250, 187, 61);
    }

    /*#ov-dashboard .chat ul li.info {*/
        /*border-left: solid;*/
        /*border-left-width: 0.25em;*/
        /*border-left-color: rgb(250, 187, 61)*/
    /*}*/

    #ov-event-view .chat ul li.left .chat-body {
        margin-left: 30px;
    }

    #ov-event-view .chat ul li.right .chat-body {
        margin-right: 30px;
    }

    #ov-event-view .chat ul li .chat-body p {
        margin: 0;
    }

    #ov-event-view .chat ul .glyphicon {
        margin-right: 5px;
    }

    #ov-event-view .chat .panel-body {
        overflow-y: auto;
        height: 300px;
    }

    #ov-event-view .chat-body small {
        margin-left: 5px;
    }

    #ov-event-view .chat-img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        font-size: 20px;
        color: #fff;
        line-height: 20px;
        text-align: center;
        background: rgba(226, 8, 12, 0.9);
    }

    .p-t-1 {
        padding-top: 1rem;
    }

    .p-x-1 {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .p-y-1 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .inline-box {
        display: inline-block;
    }

    /*.p-lr-12 {*/
        /*padding-left: 12px;*/
        /*padding-left: 12px;*/
    /*}*/

    /*.p-t-5 {*/
        /*padding-top: 5px;*/
    /*}*/

    /*.p-t-10 {*/
        /*padding-top: 10px;*/
    /*}*/

</style>

<body>

<div ng-app="myApp">

    <div id="ov-event-view" class="container">
        <div ng-controller="eventViewCtrl">

            <div class="row">
                <div class="dropdown inline-box">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        refreshed every {{refreshInterval()}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <!--<li><a href="#" ng-click="setRefreshInterval('1s')">1 seconds</a></li>-->
                        <li><a href="#" ng-click="setRefreshInterval('5s')">5 seconds</a></li>
                        <li><a href="#" ng-click="setRefreshInterval('30s')">30 seconds</a></li>
                        <li><a href="#" ng-click="setRefreshInterval('1m')">1 minutes</a></li>
                    </ul>
                </div>

                <button type="button" class="btn btn-default" ng-class="makeAutoRefreshClass()" ng-click="toggleRefresh()">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                </button>
            </div>

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for..." ng-model="searchOptions.q">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="searchFn()">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>

                                <button type="button" class="btn btn-default" ng-click="addTermFn(searchOptions, searchOptions.q)">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>

                                <button type="button" class="btn btn-default" ng-click="toggleSearchOptions()">
                                    <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                                </button>

                            </span>
                        </div><!-- /input-group -->

                        <div class="btn-group" ng-show="searchOptions.terms.length">
                            <button class="btn btn-default btn-sm" aria-label="Left Align" type="button"
                                    ng-repeat="i in searchOptions.terms"
                                    ng-click="removeTermFn(searchOptions, i)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"> {{i}}</span>
                            </button>
                        </div>

                        <div id="search-options" ng-show="isShowSearchOptions()">

                            <div class="p-t-1"></div>

                            <div class="row p-x-1">
                                <div class="col-xs-3 col-md-3">
                                    <span>Event Log</span>
                                </div>
                                <div class="col-xs-9 col-md-9">
                                    <div class="btn-group">
                                        <button type="button" class="btn" ng-class="makeBottonClass(searchOptions.type, 'All')" ng-click="searchOptions.type='All'">All</button>
                                        <button type="button" class="btn" ng-class="makeBottonClass(searchOptions.type, 'System')" ng-click="searchOptions.type='System'">System</button>
                                        <button type="button" class="btn" ng-class="makeBottonClass(searchOptions.type, 'Fabric')" ng-click="searchOptions.type='Fabric'">Fabric</button>
                                    </div>
                                </div>
                            </div>

                            <div class="row p-x-1">
                                <div class="col-xs-3 col-md-3">
                                    <span>Event Severity Levels</span>
                                </div>
                                <div class="col-xs-9 col-md-9">
                                    <div class="btn-group">
                                        <button type="button" class="btn" ng-class="makeBottonClass(searchOptions.severity, 'All')" ng-click="searchOptions.severity='All'">All</button>
                                        <button type="button" class="btn" ng-class="makeBottonClass(searchOptions.severity, 'Emerg')" ng-click="searchOptions.severity='Emerg'">Emerg</button>
                                        <button type="button" class="btn" ng-class="makeBottonClass(searchOptions.severity, 'Alert')" ng-click="searchOptions.severity='Alert'">Alert</button>
                                        <button type="button" class="btn" ng-class="makeBottonClass(searchOptions.severity, 'Crit')" ng-click="searchOptions.severity='Crit'">Crit</button>
                                        <button type="button" class="btn" ng-class="makeBottonClass(searchOptions.severity, 'Err')" ng-click="searchOptions.severity='Err'">Err</button>
                                        <button type="button" class="btn" ng-class="makeBottonClass(searchOptions.severity, 'Warning')" ng-click="searchOptions.severity='Warning'">Warning</button>
                                        <button type="button" class="btn" ng-class="makeBottonClass(searchOptions.severity, 'Notice')" ng-click="searchOptions.severity='Notice'">Notice</button>
                                        <button type="button" class="btn" ng-class="makeBottonClass(searchOptions.severity, 'Info')" ng-click="searchOptions.severity='Info'">Info</button>
                                        <button type="button" class="btn" ng-class="makeBottonClass(searchOptions.severity, 'Debug')" ng-click="searchOptions.severity='Debug'">Debug</button>
                                    </div>
                                </div>
                            </div> <!-- row -->

                            <div class="row p-x-1">
                                <div class="col-xs-3 col-md-3">
                                    <span>Time Period</span>
                                </div>
                                <div class="col-xs-5 col-md-5">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="" ng-model="searchOptions.timePeriod">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn" ng-class="makeBottonClass(searchOptions.timePeriodUnit, 'Minutes')" ng-click="searchOptions.timePeriodUnit='Minutes'">Minutes</button>
                                            <button type="button" class="btn" ng-class="makeBottonClass(searchOptions.timePeriodUnit, 'Hours')" ng-click="searchOptions.timePeriodUnit='Hours'">Hours</button>
                                            <button type="button" class="btn" ng-class="makeBottonClass(searchOptions.timePeriodUnit, 'Days')" ng-click="searchOptions.timePeriodUnit='Days'">Days</button>

                                        </span>
                                    </div><!-- /input-group -->
                                </div>
                            </div> <!-- row -->

                        </div> <!-- search-options -->

                    </div>
                </div>
            </div>

            <div class="row">
                <div style="width: 100%; height: 100px">
                    <canvas class="main-chart" id="event-stats-chart" width="600" height="150"></canvas>
                </div>
            </div> <!-- row -->

            <div class="row">
                <div class="col-xs-3 col-md-3">
                </div>
                <div class="col-xs-9 col-md-9">
                    <span>{{searchResult.items.length}} of {{searchResult.stats.total}} results</span>
                </div>
            </div> <!-- row -->

            <div class="row">
                <div class="col-xs-8 col-md-8">
                    <div class="panel panel-default chat">
                        <div id="event-view" class="panel-body">
                            <ul>
                                <li class="left clearfix" ng-repeat="i in searchResult.items | filter: eventFilter(filterOptions)" ng-class="makeClass(i)">
                                    <!--<span class="chat-img pull-left"></span>-->
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">{{$index+1}}, {{i._id}}</strong>
                                            <small class="text-muted">{{i._source.localeDateTime}}</small>
                                        </div>
                                        <p>
                                            facility: <strong class="primary-font">{{i._source.facility}}</strong>
                                            severity: <strong class="primary-font">{{i._source.severity}}</strong>
                                            tag: <strong class="primary-font">{{i._source.tag}}</strong>
                                            hostname: <strong class="primary-font">{{i._source.hostname}}</strong>
                                            address: <strong class="primary-font">{{i._source.address}}</strong>
                                        </p>
                                        <span>
                                            {{i._source.message}}
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!--<div class="panel-footer">EVENT</div>-->
                    </div>
                </div> <!-- event-pane -->

                <div class="col-xs-4 col-md-4">
                    <h4>Filter by:</h4>

                    <h4>Severity</h4>
                    <div ng-repeat="i in searchResult.stats.severities.buckets | orderBy: 'key'">
                        <div class="checkbox">
                            <label><input type="checkbox" value="" ng-click="onFilterCheckbox(filterOptions.severities, i.key)">{{ severityString(i.key) }} ({{i.doc_count}})</label>
                        </div>
                    </div>

                    <h4>Tag</h4>
                    <div ng-repeat="i in searchResult.stats.tags.buckets">
                        <div class="checkbox">
                            <label><input type="checkbox" value="" ng-click="onFilterCheckbox(filterOptions.tags, i.key)">{{i.key}} ({{i.doc_count}})</label>
                        </div>
                    </div>

                    <!--<h4>Hostname</h4>-->
                    <!--<div ng-repeat="i in searchResult.stats.hostnames.buckets">-->
                        <!--<div class="checkbox">-->
                            <!--<label><input type="checkbox" value="">{{i.key}} ({{i.doc_count}})</label>-->
                        <!--</div>-->
                    <!--</div>-->

                    <h4>IP Address</h4>
                    <div ng-repeat="i in searchResult.stats.addresses.buckets">
                        <div class="checkbox">
                            <label><input type="checkbox" value="" ng-click="onFilterCheckbox(filterOptions.address, i.key)">{{i.key}} ({{i.doc_count}})</label>
                        </div>
                    </div>

                </div>
            </div> <!-- row -->

            <div class="row">
                <div class="col-xs-8 col-md-8">
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <pre>scrolled: {{scrolled}}</pre>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <pre>searchResult.finished: {{searchResult.finished}}</pre>
                        </div>
                    </div>
                    <pre style="height: 200px">{{searchResult.items | prettyJSON}}</pre>
                </div>

                <div class="col-xs-4 col-md-4">
                    <pre style="height: 250px">{{searchResult.stats | prettyJSON}}</pre>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    var app = angular.module('myApp', ['elasticsearch']);

    app.filter('prettyJSON', function () {
        function prettyPrintJson(json) {
            return JSON ? JSON.stringify(json, null, '  ') : 'your browser doesnt support JSON so cant pretty print';
        }

        return prettyPrintJson;
    });

    app.config(function($httpProvider) {
        $httpProvider.defaults.useXDomain = true;
        delete $httpProvider.defaults.headers.common['X-Requested-With'];
    });

    app.service('client', function (esFactory) {
        return esFactory({
            host: config.elasticsearch.url,
            apiVersion: '2.3',
            log: 'trace'
        });
    });

    (function () {
        'use strict';

        function RefreshCtrl(options) {
            options = options || {};

            if (typeof options.intervalFn !== 'function') {
                throw new Error('intervalFn is required');
            }

            if (typeof options.hookFn !== 'function') {
                throw new Error('hookFn is required');
            }

            // plugin
            var intervalFn = options.intervalFn,
                hookFn = options.hookFn;

            var self = (function init(options) {
                var opts = {
                    enabled: false,
                    interval: 1000, // unit: ms

                    // inner status
                    timer: null
                };

                if (typeof options.interval !== 'undefined') {
                    opts.interval = options.interval;
                }

                if (typeof options.enabled !== 'undefined') {
                    opts.enabled = options.enabled;
                }

                return opts;
            })(options);

            if (self.enabled) {
                start();
            }

            function getInterval() {
                return self.interval;
            }

            function parseInterval(str) {
                var unit = str.substr(str.length - 1),
                    int = str.substr(0, str.length - 1),
                    ms = parseInt(int, 10);

                if (unit === 's') {
                    ms *= 1000;
                } else if (unit === 'm') {
                    ms *= 1000000;
                } else {
                    throw new TypeError('Invalid interval value ' + str);
                }

                return ms;
            }

            function intervalPrettyString(interval) {
                if (interval < 60000) {
                    return '' + (interval / 1000) + 's';
                } else {
                    return '' + (interval / 1000000) + 'm';
                }
            }

            function setInterval(value) {
                if (typeof value === 'string') {
                    value = parseInterval(value);
                }

                if (self.interval === value) {
                    return;
                }

                self.interval = value;
                if (self.enabled) {
                    restart();
                }
            }

            function getEnabledStatus() {
                return self.enabled;
            }

            function restart() {
                stop();
                start();
            }

            function start() {
                console.log('start refresh');
                if (self.timer) {
                    throw new Error('coding defect, self.timer should be null');
                }

                self.timer = intervalFn(hookFn, self.interval);
            }

            function stop() {
                console.log('stop refresh');
                if (self.timer) {
                    intervalFn.cancel(self.timer);
                    self.timer = null;
                }
            }

            function setEnabledStatus(value) {
                console.log('set enabled status from ' + (self.enabled ? 'true' : 'false') + ' to ' + (value ? 'true' : 'false'));

                if (value === true) {
                    start();
                } else {
                    stop();
                }

                self.enabled = value;
            }

            return {
                toggle: function () {
                    var enabled = this.enabled();
                    enabled = !enabled;

                    console.log('toggle status to ' + (enabled ? 'true' : 'false'));

                    this.enabled(enabled);
                },
                interval: function (value) {
                    if (typeof value === 'undefined') {
                        return getInterval();
                    } else {
                        setInterval(value);
                    }
                },
                intervalPrettyString: function () {
                    var interval = this.interval();

                    return intervalPrettyString(interval);
                },
                enabled: function (value) {
                    if (typeof value === 'undefined') {
                        return getEnabledStatus();
                    } else {
                        return setEnabledStatus(value);
                    }
                }
            }
        }

        app.controller('eventViewCtrl', ['$scope', '$interval', '$http', 'client', 'esFactory', function ($scope, $interval, $http, client, esFactory) {
            var assert = chai
                .assert;

            (function () {
                var exist = [],
                    resp = [{
                        _id: '1234'
                    }];

                var newExist = updateData(exist, resp);

                assert.deepEqual(newExist, [{_id: '1234'}]);

            })();

            (function () {
                var exist = [
                        {_id: '1234'}],
                    resp = [
                        {_id: '1236'},
                        {_id: '1235'}
                    ];

                var newExist = updateData(exist, resp);

                assert.deepEqual(newExist, [
                    {_id: '1236'},
                    {_id: '1235'},
                    {_id: '1234'}
                ]);

            })();

            (function () {
                var exist = [
                        {_id: '1234'}],
                    resp = [
                        {_id: '1233'},
                        {_id: '1232'}
                    ];

                var newExist = updateData(exist, resp);

                assert.deepEqual(newExist, [
                    {_id: '1234'},
                    {_id: '1233'},
                    {_id: '1232'}
                ]);

            })();

            (function () {
                var exist = [
                        {_id: '1234'}],
                    resp = [
                        {_id: '1234'}
                    ];

                var newExist = updateData(exist, resp);

                assert.deepEqual(newExist, [
                    {_id: '1234'}
                ]);

            })();

            console.log('xx');

            $scope.showSearchOptions = true;

            $scope.toggleSearchOptions = function () {
                $scope.showSearchOptions = !$scope.showSearchOptions;
            };

            $scope.isShowSearchOptions = function () {
                return $scope.showSearchOptions;
            };

            $scope.searchOptions = Object.assign({
                q: '',
                terms: [],
                type: 'All',
                severity: 'All',
                source: 'All',
                timePeriod: 7,
                timePeriodUnit: 'Days'
            }, config.eventview.searchDetail);

            $scope.makeBottonClass = function (type, elText) {
                if (type === elText) {
                    return 'btn-info';
                } else {
                    return 'btn-default';
                }
            };
            $scope.filterOptions = {
                severities: [],
                tags: [],
                address: []
            };

            $scope.onFilterCheckbox = function (option, val) {
                var index = _.indexOf(option, val);

                if (index === -1) {
                    option.push(val);
                } else {
                    option.splice(index, 1);
                }
            };

            $scope.eventFilter = function (options) {
                return function (item) {

                    if (_.head(options.severities)) {
                        if (_.indexOf(options.severities, item._source.severity) === -1) {
                            return false;
                        }
                    }

                    if (_.head(options.tags)) {
                        if (_.indexOf(options.tags, item._source.tag) === -1) {
                            return false;
                        }
                    }

                    if (_.head(options.address)) {
                        if (_.indexOf(options.address, item._source.address) === -1) {
                            return false;
                        }
                    }
                    //return item.name === options.name;
                    return true;
                };
            };

            function genSearchReq(options) {
                options = options || {};

                function makeAggsReg() {
                    return {
//                        avg_severity: {
//                            avg: {
//                                field: 'severity'
//                            }
//                        },
                        severities: {
                            terms: {
                                field: 'severity'
                            }
                        },
                        tags: {
                            terms: {
                                field: 'tag'
                            }
                        },
                        hostnames: {
                            terms: {
                                field: 'hostname'
                            }
                        },
                        addresses: {
                            terms: {
                                field: 'address'
                            }
                        },
                        event_time_min: {
                            min: {
                                field: 'time'
                            }
                        },
                        event_time_max: {
                            max: {
                                field: 'time'
                            }
                        },
                        event_over_time: {
                            date_histogram: {
                                field: 'time',
                                interval: 'day'
                            }
                        }
                    };
                }

                var uiConvertor = {
                    type: function (text) {
                        if (text === 'System') {
                            return 'test';
                        } else if (text === 'Fabric') {
                            return 'foo';
                        }

                        return '';
                    },
                    dateRangeUnit: function (text) {
                        if (text === 'Minutes') {
                            return 'm';
                        } else if (text === 'Hours') {
                            return 'h';
                        } else if (text === 'Days') {
                            return 'd';
                        }

                        return 'd';
                    }
                };

                function makeQueryReg(options) {
                    var req = {
                        bool: {
                            must: []
                        }
                    };

//                req.bool.must.push({
//                    term: {
//                        message: 'failed'
//                    }
//                });

                    // OR operations
                    var terms_should = {
                        bool: {
                            should: []
                        }
                    };

                    options.q = options.q.trim();
                    if (options.q && _.indexOf(options.terms, options.q) === -1) {
                        terms_should.bool.should.push({
                            term: {
                                message: options.q
                            }
                        });
                    }

                    angular.forEach(options.terms, function (value) {
                        var s = value.trim();

                        if (!s) {
                            return;
                        }

                        terms_should.bool.should.push({
                            term: {
                                message: value
                            }
                        });
                    });

                    if (terms_should.bool.should.length) {
                        req.bool.must.push(terms_should);
                    }

//                req.bool.must.push({
//                    bool: {
//                        should: [
//                            {
//                                term: {
//                                    message: 'failed'
//                                }
//                            },
//                            {
//                                term: {
//                                    message: 'remote'
//                                }
//                            }
//                        ]
//                    }
//                });

                    if (options.severity !== 'All') {
                        req.bool.must.push({
                            term: {
                                severity: severityStringToNumber(options.severity)
                            }
                        });
                    }

                    function convertDateRange(options) {
                        var query = {
                            gte: 'now-' + options.timePeriod + uiConvertor.dateRangeUnit(options.timePeriodUnit) + '/' + uiConvertor.dateRangeUnit(options.timePeriodUnit),
                            lt: 'now' + '/' + uiConvertor.dateRangeUnit(options.timePeriodUnit)
                        };

                        return query;
                    }

                    req.bool.must.push({
                        range: {
                            time: convertDateRange(options)
                        }
                    });

                    return req;
                }

                var req = {
                    size: 300,
                    maxSize: 300,
                    body: {
                        query: makeQueryReg(options),
                        aggs: makeAggsReg(options)
                    }
                };

                if (typeof options.index === 'string') {
                    req.index = options.index;
                }

                if (options.type !== 'All') {
                    req.type = uiConvertor.type(options.type);
                }

                return req;
            }

            var get = ESSearch(client),
                req;

            var chart = EventStatsBar({
                canvasContext: 'event-stats-chart'
            });

            function updateChart(stats) {
                var data = [];

                var minDate = new Date(stats.event_time_min.value_as_string),
                    maxData = new Date(stats.event_time_max.value_as_string);

                var sameYear = minDate.getFullYear() === maxData.getFullYear();

                angular.forEach(stats.event_over_time.buckets, function (value, key) {

                    var date = new Date(value.key_as_string);

                    if (sameYear) {
                        data.push({
                            label: '' + (date.getMonth() + 1) + '/' + date.getDate(), //value.key_as_string,
                            data: value.doc_count
                        });
                    } else {
                        data.push({
                            label: '' + (date.getMonth() + 1) + '/' + date.getDate() + '/' + date.getFullYear(), //value.key_as_string,
                            data: value.doc_count
                        });
                    }
                });

                chart.update(data);
            }

            function updateData(exist, resp) {
                if (exist === []) {
                    return _.cloneDeep(resp);
                }

                return _.reverse(
                    _.unionBy(
                        _.sortBy(
                            _.concat(resp, exist), ['_id']),
                        '_id'
                    ));
            }

            $scope.searchFn = function () {
                $scope.searchResult = {
                    items: [],
                    stats: {},
                    finished: false
                };
                req = genSearchReq($scope.searchOptions);

                get(req, respCb);
            };

            $scope.addTermFn = function (options, term) {
                term = String.prototype.trim.call(term);

                if (!term) {
                    return;
                }

                if (_.indexOf(_.slice(options.terms, 1), term) === -1) {
                    options.terms.push(term);

                    // FIXME: bad ...
                    options.q = '';
                }
            };

            $scope.removeTermFn = function (options, term) {
                var idx = _.indexOf(options.terms, term);
                if (idx === -1) {
                    return;
                }

                options.terms.splice(idx, 1);
            };

            $scope.searchFn();

            var refreshCtrl = RefreshCtrl({
                interval: 5000,
                intervalFn: $interval,
                hookFn: function () {
                    req = genSearchReq($scope.searchOptions);
                    $scope.searchResult.finished = false;
                    get(req, respCb);
                }
            });

            $scope.toggleRefresh = refreshCtrl.toggle.bind(refreshCtrl);
            $scope.setRefreshInterval = refreshCtrl.interval.bind(refreshCtrl);
            $scope.refreshInterval = refreshCtrl.intervalPrettyString.bind(refreshCtrl);

            $scope.makeAutoRefreshClass = function () {
                return refreshCtrl.enabled() ? 'btn-info' : '';
            };

            $scope.getMore = function () {
                if ($scope.searchResult.stats.total === $scope.searchResult.items.length) {
                    return;
                }

                req.maxSize = $scope.searchResult.items.length + 2;

                $scope.searchResult.finished = false;
                get(req, respCb);
            };

            function respCb(err, resp) {
                if (err) {
                    $scope.searchResult.finished = true;
                    return;
                }

                $scope.searchResult.items = updateData($scope.searchResult.items, resp.hits.hits);

                if (resp.aggregations) {
                    $scope.searchResult.stats = _.cloneDeep(resp.aggregations);
                    $scope.searchResult.stats.total = resp.hits.total;

                    updateChart($scope.searchResult.stats);
                }

                if (this.$scope.last) {
                    $scope.searchResult.finished = true;
                }
            }

            $scope.severityString = function (lvl) {
                var severity = {
                    0: 'Emergency',
                    1: 'Alert',
                    2: 'Critical',
                    3: 'Error',
                    4: 'Warning',
                    5: 'Notice',
                    6: 'Informational',
                    7: 'Debug'
                };

                return severity[lvl];
            };

            function severityStringToNumber(str) {
                var severity = {
                        'Emergency': 0,
                        'Alert': 1,
                        'Critical': 2,
                        'Error': 3,
                        'Warning': 4,
                        'Notice': 5,
                        'Informational': 6,
                        'Debug': 7
                    },
                    severity2 = {
                        'Emerg': 0,
                        'Alert': 1,
                        'Crit': 2,
                        'Err': 3,
                        'Warning': 4,
                        'Notice': 5,
                        'Info': 6,
                        'Debug': 7
                    };

                if (typeof severity[str] !== 'undefined') {
                    return severity[str];
                }


                return severity2[str];
            }

            $scope.scrolled = false;
            $('#event-view').scroll(function () {
                if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                    //$("span").show();
                    $scope.scrolled = true;
                } else {
                    //$("span").hide();
                    $scope.scrolled = false;
                }
                $scope.$digest();

                if ($scope.scrolled === true) {
                    $scope.getMore();
                }
            });

        }]);

    }());

</script>

</body>
</html>