<!-- Dashboard partial HTML -->
<link rel="stylesheet" href="app/view/dashboard/bootstrap.min.css">
<link rel="stylesheet" href="app/view/dashboard/dashboard.css">

<div id="ov-dashboard">
    <div class="container">
        <div class="row">
            <div ng-class="makeColClass(3)">
                <div class="panel panel-blue-bg-white panel-widget ">
                    <div class="row no-padding">
                        <div ng-class="makeColClass(5)" class="widget-left">
                            <span class="glyphicon glyphicon-cloud glyphicon-l" aria-hidden="true"></span>
                        </div>
                        <div ng-class="makeColClass(7)" class="widget-right-controller xx">
                            <div class="large">{{overview.controller.totalCount}}</div>
                            <div class="medium">Controller</div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-class="makeColClass(3)">
                <div class="panel panel-orange-bg-white panel-widget">
                    <div class="row no-padding">
                        <div ng-class="makeColClass(5)" class="widget-left">
                            <span class="glyphicon glyphicon-random glyphicon-l" aria-hidden="true"></span>
                        </div>
                        <div ng-class="makeColClass(7)" class="widget-right-spine">
                            <div class="large">{{overview.spine.totalCount}}</div>
                            <div class="medium">Spine</div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-class="makeColClass(3)">
                <div class="panel panel-green-bg-white panel-widget">
                    <div class="row no-padding">
                        <div ng-class="makeColClass(5)" class="widget-left">
                            <span class="glyphicon glyphicon-sort glyphicon-l" aria-hidden="true"></span>
                        </div>
                        <div ng-class="makeColClass(7)" class="widget-right-leaf">
                            <div class="large">{{overview.leaf.totalCount}}</div>
                            <div class="medium">Leaf</div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-class="makeColClass(3)">
                <div class="panel panel-teal-bg-white panel-widget">
                    <div class="row no-padding">
                        <div ng-class="makeColClass(5)" class="widget-left widget-left-rsl">
                            <span class="glyphicon glyphicon-tasks glyphicon-m" aria-hidden="true"></span>
                        </div>
                        <div ng-class="makeColClass(7)" class="widget-right-rsl">
                            <div class="medium">{{overview.rack.totalCount}} Rack</div>
                        </div>
                    </div>
                    <div class="row no-padding">
                        <div ng-class="makeColClass(5)" class="widget-left widget-left-rsl">
                            <span class="glyphicon glyphicon-hdd glyphicon-m" aria-hidden="true"></span>
                        </div>
                        <div ng-class="makeColClass(7)" class="widget-right-rsl">
                            <div class="medium">{{overview.server.totalCount}} Server</div>
                        </div>
                    </div>
                    <div class="row no-padding">
                        <div ng-class="makeColClass(5)" class="widget-left widget-left-rsl">
                            <span class="glyphicon glyphicon-resize-horizontal glyphicon-m" aria-hidden="true"></span>
                        </div>
                        <div ng-class="makeColClass(7)" class="widget-right-rsl">
                            <div class="medium">{{overview.link.totalCount}} <span class="badge issuedLinkCount" ng-show="overview.link.issuedCount">{{overview.link.issuedCount}}</span> Link</div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!--row-->

        <div class="row">
            <div ng-class="makeColClass(9)">
                <div class="panel panel-default controller">
                    <div class="panel-body">
                        <div ng-show="c.charts[0].isShow()" ng-class="makeClass()">
                            <h4>{{c.charts[0].name}}</h4>
                            <div class="row">
                                <div ng-class="makeColClass(9)">
                                    <div style="width: 100%; height: 100px">
                                        <canvas class="main-chart" id="controller-1-cpu-chart" width="600" height="150"></canvas>
                                    </div>
                                </div>
                                <div ng-class="makeColClass(3)" class="controller-text">
                                    <span>CPU</span>
                                    <br />
                                    <span>
                                        {{c.charts[0].cpu.last().utilization}}%&nbsp;
                                        {{c.charts[0].cpu.last().frequencyInGhz}}&nbsp;GHz
                                    </span>
                                </div>
                            </div>

                            <div class="row">
                                <div ng-class="makeColClass(9)">
                                    <div style="width: 100%; height: 100px">
                                        <canvas class="main-chart" id="controller-1-memory-chart" width="600" height="150"></canvas>
                                    </div>
                                </div>
                                <div ng-class="makeColClass(3)" class="controller-text">
                                    <span>Memory</span>
                                    <br />
                                    <span>
                                        {{c.charts[0].memory.last().usedInGb}}/{{c.charts[0].memory.last().totalInGb}}&nbsp;GB&nbsp;
                                        ({{c.charts[0].memory.last().utilization}}%)
                                    </span>
                                </div>
                            </div>

                            <div class="row">
                                <div ng-class="makeColClass(9)">
                                    <div style="width: 100%; height: 100px">
                                        <canvas class="main-chart" id="controller-1-ethernet-chart" width="600" height="150"></canvas>
                                    </div>
                                </div>
                                <div ng-class="makeColClass(3)" class="controller-text">
                                    <span>Ethernet</span>
                                    <br />
                                    <span>
                                        S: {{c.charts[0].ethernet.last().transmitInKbps}}
                                        <br />
                                        R: {{c.charts[0].ethernet.last().receiveInKbps}} Kbps
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div ng-show="c.charts[1].isShow()" ng-class="makeClass()">
                            <h4>{{c.charts[1].name}}</h4>
                            <div class="row">
                                <div ng-class="makeColClass(9)">
                                    <div style="width: 100%; height: 100px">
                                        <canvas class="main-chart" id="controller-2-cpu-chart" width="600" height="150"></canvas>
                                    </div>
                                </div>
                                <div ng-class="makeColClass(3)" class="controller-text">
                                    <span>CPU</span>
                                    <br />
                                    <span>
                                        {{c.charts[1].cpu.last().utilization}}%&nbsp;
                                        {{c.charts[1].cpu.last().frequencyInGhz}}&nbsp;GHz
                                    </span>
                                </div>
                            </div>

                            <div class="row">
                                <div ng-class="makeColClass(9)">
                                    <div style="width: 100%; height: 100px">
                                        <canvas class="main-chart" id="controller-2-memory-chart" width="600" height="150"></canvas>
                                    </div>
                                </div>
                                <div ng-class="makeColClass(3)" class="controller-text">
                                    <span>Memory</span>
                                    <br />
                                    <span>
                                        {{c.charts[1].memory.last().usedInGb}}/{{c.charts[1].memory.last().totalInGb}}&nbsp;GB&nbsp;
                                        ({{c.charts[1].memory.last().utilization}}%)
                                    </span>
                                </div>
                            </div>

                            <div class="row">
                                <div ng-class="makeColClass(9)">
                                    <div style="width: 100%; height: 100px">
                                        <canvas class="main-chart" id="controller-2-ethernet-chart" width="600" height="150"></canvas>
                                    </div>
                                </div>
                                <div ng-class="makeColClass(3)" class="controller-text">
                                    <span>Ethernet</span>
                                    <br />
                                    <span>
                                        S: {{c.charts[1].ethernet.last().transmitInKbps}}
                                        <br />
                                        R: {{c.charts[1].ethernet.last().receiveInKbps}} Kbps
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div ng-show="c.charts[2].isShow()" ng-class="makeClass()">
                            <h4>{{c.charts[2].name}}</h4>
                            <div class="row">
                                <div ng-class="makeColClass(9)">
                                    <div style="width: 100%; height: 100px">
                                        <canvas class="main-chart" id="controller-3-cpu-chart" width="600" height="150"></canvas>
                                    </div>
                                </div>
                                <div ng-class="makeColClass(3)" class="controller-text">
                                    <span>CPU</span>
                                    <br />
                                    <span>
                                        {{c.charts[2].cpu.last().utilization}}%&nbsp;
                                        {{c.charts[2].cpu.last().frequencyInGhz}}&nbsp;GHz
                                    </span>
                                </div>
                            </div>

                            <div class="row">
                                <div ng-class="makeColClass(9)">
                                    <div style="width: 100%; height: 100px">
                                        <canvas class="main-chart" id="controller-3-memory-chart" width="600" height="150"></canvas>
                                    </div>
                                </div>
                                <div ng-class="makeColClass(3)" class="controller-text">
                                    <span>Memory</span>
                                    <br />
                                    <span>
                                        {{c.charts[2].memory.last().usedInGb}}/{{c.charts[2].memory.last().totalInGb}}&nbsp;GB&nbsp;
                                        ({{c.charts[2].memory.last().utilization}}%)
                                    </span>
                                </div>
                            </div>

                            <div class="row">
                                <div ng-class="makeColClass(9)">
                                    <div style="width: 100%; height: 100px">
                                        <canvas class="main-chart" id="controller-3-ethernet-chart" width="600" height="150"></canvas>
                                    </div>
                                </div>
                                <div ng-class="makeColClass(3)" class="controller-text">
                                    <span>Ethernet</span>
                                    <br />
                                    <span>
                                        S: {{c.charts[2].ethernet.last().transmitInKbps}}
                                        <br />
                                        R: {{c.charts[2].ethernet.last().receiveInKbps}} Kbps
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">CONTROLLER</div>
                </div>
            </div>
            <div ng-class="makeColClass(3)">
                <div class="panel panel-default chat">
                    <div class="panel-body">
                        <ul>
                            <li ng-repeat="log in logs" class="left clearfix" ng-class="makeLogClass(log._source)">
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">{{log._source.address}}</strong>
                                        <small class="text-muted">{{log._source.localeDateTime}}</small>
                                    </div>
                                    <p>{{log._source.message}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">EVENT</div>
                </div>
            </div>
        </div> <!--row-->

        <div class="row">
            <div ng-class="makeColClass(3)">
                <div class="panel panel-default">
                    <div class="panel-body top5-panel-body">
                        <canvas class="main-chart" id="top5-traffic-core" width="200" height="180"></canvas>
                    </div>
                    <div class="panel-footer"><span>Top 5 Traffic of Spine-Leaf (%)</span></div>
                </div>
            </div>
            <div ng-class="makeColClass(3)">
                <div class="panel panel-default">
                    <div class="panel-body top5-panel-body">
                        <canvas class="main-chart" id="top5-drop-count-core" width="200" height="180"></canvas>
                    </div>
                    <div class="panel-footer"><span>Top 5 Drop Count of Spine-Leaf</span></div>
                </div>
            </div>
            <div ng-class="makeColClass(3)">
                <div class="panel panel-default">
                    <div class="panel-body top5-panel-body">
                        <canvas class="main-chart" id="top5-traffic-access" width="200" height="180"></canvas>
                    </div>
                    <div class="panel-footer"><span>Top 5 Traffic of Leaf-Server (%)</span></div>
                </div>
            </div>
            <div ng-class="makeColClass(3)">
                <div class="panel panel-default">
                    <div class="panel-body top5-panel-body">
                        <canvas class="main-chart" id="top5-drop-count-access" width="200" height="180"></canvas>
                    </div>
                    <div class="panel-footer"><span>Top 5 Drop Count of Leaf-Server</span></div>
                </div>
            </div>
        </div> <!--row-->
    </div>
</div>
