<!--<link rel="stylesheet" href="data/bootstrap/css/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="data/bootstrap/css/bootstrap-theme.min.css.map">-->
<!--<link rel="stylesheet" href="app/view/configHistoryDetail/configHistoryDetail.css">-->

<div id="ov-configHistoryDetail" class="container">
    <md-toolbar layout="row" class="toolbar">
        <h2>
            <span>{{configuration.raw.current.modifiedBy}} modified {{friendlyDateString(configuration.raw.current.modified)}}</span>
        </h2>
        <span flex></span>
        <md-button class="md-raised" aria-attr-label="Learn More">
            Restore
        </md-button>
    </md-toolbar>
    <md-card>
        <md-card-actions layout="row">

            <!--<md-menu flex>-->
                <md-button ng-click="$mdMenu.open($event)">
                    Compare with <strong>{{configuration.raw.other.modifiedBy}}</strong> modified <strong>{{friendlyDateString(configuration.raw.other.modified)}}</strong>
                    <!--<md-icon md-menu-origin md-svg-icon="call:phone"></md-icon>-->
                </md-button>
                <!--<md-menu-content width="1">-->
                    <!--<md-menu-item>-->
                        <!--<md-button ng-click="">-->
                            <!--<md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>-->
                            <!--Action-->
                        <!--</md-button>-->
                    <!--</md-menu-item>-->
                <!--</md-menu-content>-->
            <!--</md-menu>-->

            <div flex></div>
            <md-button type="botton" class="btn btn-default pull-right" style="margin-right: 5px"
                       ng-click="setHideUnchangedItems()">
                    <span class="glyphicon glyphicon-eye-open"
                          ng-class="setting.hideUnchangedItems ? 'glyphicon-eye-close': 'glyphicon-eye-open'"></span> Show Unchanged items
            </md-button>
            <md-button type="botton" class="btn btn-default pull-right" style="margin-right: 5px"
                       ng-click="changeStyle()">
                <img src="img/icons/ic_view_stream_black_24px.svg" height="16px"
                     ng-class="{'rotate': setting.style == 'column'}"> View
            </md-button>
        </md-card-actions>

        <md-card-content layout="column" style="padding: unset;"
             ng-class="{'dense': setting.style == 'dense', 'column': setting.style == 'column'}">
            <div ng-show="setting.style=='column'">
            <div layout="row">
                <div flex="30"></div>
                <div flex style="padding-left: 0px;padding-right: 0px">
                    <div><strong>{{configuration.raw.current.modifiedBy}}</strong> modified {{configuration.raw.current.modified}}</div>
                    <div>{{configuration.raw.current.description}}</div>
                </div>
                <div flex style="padding-left: 0px;padding-right: 0px">
                    <div><strong>{{configuration.raw.other.modifiedBy}}</strong> modified {{configuration.raw.other.modified}}</div>
                    <div>{{configuration.raw.other.description}}</div>
                </div>
            </div>
            </div>
            <div>
                <ang-accordion icon-position="right" close-icon-class="fa fa-chevron-right" open-icon-class="fa fa-chevron-down">
                    <collapsible-item item-title="Global" initially-open="true">

                        <div layout="column">
                        <div ng-show="setting.style=='dense'">
                        <div flex layout="row" class="attr-row"
                             ng-hide="hideUnchangedItems(cc.global.reservedVlanRange)">
                            <div flex="30" class="attr-header">
                                <span>Reserved VLAN Range</span>
                            </div>
                            <div flex="70" layout="column">
                                <div flex
                                     ng-show="cc.global.reservedVlanRange.other && !equals(cc.global.reservedVlanRange.current, cc.global.reservedVlanRange.other)">
                                    <div class="attr-value"
                                         ng-class="makeClass(cc.global.reservedVlanRange.current, cc.global.reservedVlanRange.other, {'modification': 'deletion'})">
                                        <span>{{cc.global.reservedVlanRange.other.begin}} to {{cc.global.reservedVlanRange.other.end}}</span>
                                    </div>
                                </div>

                                <div flex
                                     ng-show="cc.global.reservedVlanRange.current">
                                    <div class="attr-value"
                                         ng-class="makeClass(cc.global.reservedVlanRange.current, cc.global.reservedVlanRange.other, {'modification': 'addition'})">
                                        <span>{{cc.global.reservedVlanRange.current.begin}} to {{cc.global.reservedVlanRange.current.end}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>

                        <div ng-show="setting.style=='column'">
                        <div layout="row" class="attr-row"
                             ng-hide="hideUnchangedItems(cc.global.reservedVlanRange)">
                            <div flex="30" class="attr-header">
                                <span>Reserved VLAN Range</span>
                            </div>
                            <div flex class="attr-value"
                                 ng-class="makeClass(cc.global.reservedVlanRange.current, cc.global.reservedVlanRange.other)">
                                <span>{{cc.global.reservedVlanRange.current.begin}}
                                    to {{cc.global.reservedVlanRange.current.end}}</span>
                            </div>
                            <div flex class="attr-value"
                                 ng-class="makeClass(cc.global.reservedVlanRange.other, cc.global.reservedVlanRange.current)">
                                <span ng-show="cc.global.reservedVlanRange.other">{{cc.global.reservedVlanRange.other.begin}}
                                    to {{cc.global.reservedVlanRange.other.end}}</span>
                                <span ng-hide="cc.global.reservedVlanRange.other">&empty;</span>
                            </div>
                        </div>
                        </div>

                        <div ng-show="setting.style=='dense'" class="even-wrap">
                        <div flex layout="row" class="attr-row"
                             ng-hide="hideUnchangedItems(cc.global.reservedSubnet)">
                            <div flex="30" class="attr-header">
                                <span>Reserved Subnet</span>
                            </div>
                            <div flex="70" layout="column">
                                <div flex
                                     ng-repeat="item in cc.global.reservedSubnet"
                                     ng-hide="hideUnchangedItems(item)">
                                    <div class="attr-value"
                                         ng-class="makeClass(item.current, item.other)">
                                        <span>{{item.current || item.other}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>

                        <div ng-show="setting.style=='column'" class="even-wrap">
                        <div layout="row" class="attr-row"
                             ng-hide="hideUnchangedItems(cc.global.reservedSubnet)">
                            <div flex="30" class="attr-header">
                                <span>Reserved Subnet</span>
                            </div>
                            <div flex="70">
                                <div layout="row"
                                     ng-repeat="item in cc.global.reservedSubnet"
                                     ng-hide="hideUnchangedItems(item)">
                                    <div flex class="attr-value"
                                         ng-class="makeClass(item.current, item.other)">
                                        <span>{{item.current || '&empty;'}}</span>
                                    </div>
                                    <div flex class="attr-value"
                                         ng-class="makeClass(item.other, item.current)">
                                        <span>{{item.other || '&empty;'}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>

                        </div>
                    </collapsible-item>
                    <collapsible-item item-title="Device" initially-open="true">
                        <div layout="column" ng-repeat="item in cc.devices"
                             ng-hide="hideUnchangedItems(item)"
                             ng-class="{'even-wrap': !($index %2)}">

                            <div flex layout="row" class="attr-row"
                                 ng-class="makeClass(item.current, item.other, {'modification': 'equation'})">
                                <div flex="30" class="attr-header">
                                    <span><strong>{{item.current.name || item.other.name}}</strong></span>
                                </div>
                                <div flex="70" layout="column">

                                    <div ng-show="setting.style=='dense'">
                                    <div ng-hide="hideUnchangedItems(item.current.desc, item.other.desc)">
                                        <div flex class="attr-label">
                                            <span>Description</span>
                                        </div>
                                        <div flex
                                             ng-show="item.other.desc && item.current.desc != item.other.desc">
                                            <div class="attr-value bottom-line"
                                                 ng-class="makeClass(item.current.desc, item.other.desc, {'modification': 'deletion'})">
                                                <span>{{item.other.desc}}</span>
                                            </div>
                                        </div>
                                        <div flex
                                             ng-show="item.current.desc">
                                            <div class="attr-value bottom-line"
                                                 ng-class="makeClass(item.current.desc, item.other.desc, {'modification': 'addition'})">
                                                <span>{{item.current.desc}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    </div>

                                    <div ng-show="setting.style=='column'">
                                    <div ng-hide="hideUnchangedItems(item.current.desc, item.other.desc)">
                                        <div flex class="attr-label">
                                            <span>Description</span>
                                        </div>
                                        <div flex layout="row">
                                            <div flex class="attr-value bottom-line"
                                                 ng-class="makeClass(item.current.desc, item.other.desc)">
                                                <span>{{item.current.desc || '&empty;'}}</span>
                                            </div>
                                            <div flex class="attr-value bottom-line"
                                                 ng-class="makeClass(item.other.desc, item.current.desc)">
                                                <span>{{item.other.desc || '&empty;'}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    </div>

                                    <div ng-show="setting.style=='dense'">
                                    <div ng-hide="hideUnchangedItems(item.current.ip, item.other.ip)">
                                        <div flex class="attr-label">
                                            <span>IP</span>
                                        </div>
                                        <div flex
                                             ng-show="item.other.ip && item.current.ip != item.other.ip">
                                            <div class="attr-value bottom-line"
                                                 ng-class="makeClass(item.current.ip, item.other.ip, {'modification': 'deletion'})">
                                                <span>{{item.other.ip}}</span>
                                            </div>
                                        </div>
                                        <div flex
                                             ng-show="item.current.ip">
                                            <div class="attr-value bottom-line"
                                                 ng-class="makeClass(item.current.ip, item.other.ip, {'modification': 'addition'})">
                                                <span>{{item.current.ip}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    </div>

                                    <div ng-show="setting.style=='column'">
                                    <div ng-hide="hideUnchangedItems(item.current.ip, item.other.ip)">
                                        <div flex class="attr-label">
                                            <span>IP</span>
                                        </div>
                                        <div flex layout="row">
                                            <div flex class="attr-value bottom-line"
                                                 ng-class="makeClass(item.current.ip, item.other.ip)">
                                                <span>{{item.current.ip || '&empty;'}}</span>
                                            </div>
                                            <div flex class="attr-value bottom-line"
                                                 ng-class="makeClass(item.other.ip, item.current.ip)">
                                                <span>{{item.other.ip || '&empty;'}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    </div>

                                    <div ng-show="setting.style=='dense'">
                                    <div ng-hide="hideUnchangedItems(item.current.role, item.other.role)">
                                        <div flex class="attr-label">
                                            <span>Role</span>
                                        </div>
                                        <div flex
                                             ng-show="item.other.role && item.current.role != item.other.role">
                                            <div class="attr-value bottom-line"
                                                 ng-class="makeClass(item.current.role, item.other.role, {'modification': 'deletion'})">
                                                <span>{{item.other.role}}</span>
                                            </div>
                                        </div>
                                        <div flex
                                             ng-show="item.current.role">
                                            <div class="attr-value bottom-line"
                                                 ng-class="makeClass(item.current.role, item.other.role, {'modification': 'addition'})">
                                                <span>{{item.current.role}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    </div>

                                    <div ng-show="setting.style=='column'">
                                    <div ng-hide="hideUnchangedItems(item.current.role, item.other.role)">
                                        <div flex class="attr-label">
                                            <span>Role</span>
                                        </div>
                                        <div flex layout="row">
                                            <div flex class="attr-value bottom-line"
                                                 ng-class="makeClass(item.current.role, item.other.role)">
                                                <span>{{item.current.role || '&empty;'}}</span>
                                            </div>
                                            <div flex class="attr-value bottom-line"
                                                 ng-class="makeClass(item.other.role, item.current.role)">
                                                <span>{{item.other.role || '&empty;'}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    </div>

                                    <div ng-show="setting.style=='dense'">
                                    <div ng-hide="hideUnchangedItems(item.current.protocol, item.other.protocol)">
                                        <div flex class="attr-label">
                                            <span>Protocol</span>
                                        </div>
                                        <div flex
                                             ng-show="item.other.protocol && item.current.protocol != item.other.protocol">
                                            <div class="attr-value bottom-line"
                                                 ng-class="makeClass(item.current.protocol, item.other.protocol, {'modification': 'deletion'})">
                                                <span>{{item.other.protocol}}</span>
                                            </div>
                                        </div>
                                        <div flex
                                             ng-show="item.current.protocol">
                                            <div class="attr-value bottom-line"
                                                 ng-class="makeClass(item.current.protocol, item.other.protocol, {'modification': 'addition'})">
                                                <span>{{item.current.protocol}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    </div>

                                    <div ng-show="setting.style=='column'">
                                    <div ng-hide="hideUnchangedItems(item.current.protocol, item.other.protocol)">
                                        <div flex class="attr-label">
                                            <span>Protocol</span>
                                        </div>
                                        <div flex layout="row">
                                            <div flex class="attr-value bottom-line"
                                                 ng-class="makeClass(item.current.protocol, item.other.protocol)">
                                                <span>{{item.current.protocol || '&empty;'}}</span>
                                            </div>
                                            <div flex class="attr-value bottom-line"
                                                 ng-class="makeClass(item.other.protocol, item.current.protocol)">
                                                <span>{{item.other.protocol || '&empty;'}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    </div>

                                    <div ng-show="setting.style=='dense'">
                                    <div ng-hide="hideUnchangedItems(item.current.port, item.other.port)">
                                        <div flex class="attr-label">
                                            <span>Port</span>
                                        </div>
                                        <div flex
                                             ng-show="item.other.port && item.current.port != item.other.port">
                                            <div class="attr-value bottom-line"
                                                 ng-class="makeClass(item.current.port, item.other.port, {'modification': 'deletion'})">
                                                <span>{{item.other.port}}</span>
                                            </div>
                                        </div>
                                        <div flex
                                             ng-show="item.current.port">
                                            <div class="attr-value bottom-line"
                                                 ng-class="makeClass(item.current.port, item.other.port, {'modification': 'addition'})">
                                                <span>{{item.current.port}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    </div>

                                    <div ng-show="setting.style=='column'">
                                    <div ng-hide="hideUnchangedItems(item.current.port, item.other.port)">
                                        <div flex class="attr-label">
                                            <span>Port</span>
                                        </div>
                                        <div flex layout="row">
                                            <div flex class="attr-value bottom-line"
                                                 ng-class="makeClass(item.current.port, item.other.port)">
                                                <span>{{item.current.port || '&empty;'}}</span>
                                            </div>
                                            <div flex class="attr-value bottom-line"
                                                 ng-class="makeClass(item.other.port, item.current.port)">
                                                <span>{{item.other.port || '&empty;'}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    </div>

                                    <div ng-show="setting.style=='dense'">
                                    <div ng-hide="hideUnchangedItems(item.current.username, item.other.username)">
                                        <div flex class="attr-label">
                                            <span>Username</span>
                                        </div>
                                        <div flex
                                             ng-show="item.other.username && item.current.username != item.other.username">
                                            <div class="attr-value bottom-line"
                                                 ng-class="makeClass(item.current.username, item.other.username, {'modification': 'deletion'})">
                                                <span>{{item.other.username}}</span>
                                            </div>
                                        </div>
                                        <div flex
                                             ng-show="item.current.username">
                                            <div class="attr-value bottom-line"
                                                 ng-class="makeClass(item.current.username, item.other.username, {'modification': 'addition'})">
                                                <span>{{item.current.username}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    </div>

                                    <div ng-show="setting.style=='column'">
                                    <div ng-hide="hideUnchangedItems(item.current.username, item.other.username)">
                                        <div flex class="attr-label">
                                            <span>Username</span>
                                        </div>
                                        <div flex layout="row">
                                            <div flex class="attr-value bottom-line"
                                                 ng-class="makeClass(item.current.username, item.other.username)">
                                                <span>{{item.current.username || '&empty;'}}</span>
                                            </div>
                                            <div flex class="attr-value bottom-line"
                                                 ng-class="makeClass(item.other.username, item.current.username)">
                                                <span>{{item.other.username || '&empty;'}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </collapsible-item>
                    <collapsible-item item-title="Link" initially-open="true">
                        <div layout="column" ng-repeat="item in cc.links"
                             ng-hide="hideUnchangedItems(item)"
                             ng-class="{'even-wrap': !($index %2)}">

                            <div ng-show="setting.style=='dense'">
                            <div flex layout="row" class="attr-row"
                                 ng-class="makeClass(item.current, item.other, {'modification': 'equation'})">
                                <div flex="30" class="attr-header">
                                    <span>Port A &harr; Port B</span>
                                </div>
                                <div flex="70" class="attr-value"
                                     ng-class="makeClass(item.current, item.other)">
                                    <span ng-show="item.current.src && item.current.dst">{{item.current.src.device}}/{{item.current.src.port}} &harr; {{item.current.dst.device}}/{{item.current.dst.port}}</span>
                                    <span ng-show="!equals(item.current, item.other) && item.other.src && item.other.dst">{{item.other.src.device}}/{{item.other.src.port}} &harr; {{item.other.dst.device}}/{{item.other.dst.port}}</span>
                                </div>
                            </div>
                            </div>

                            <div ng-show="setting.style=='column'">
                            <div layout="row" class="attr-row"
                                 ng-class="makeClass(item.current, item.other, {'modification': 'equation'})">
                                <div flex="30" class="attr-header">
                                    <span>Port A &harr; Port B</span>
                                </div>
                                <div flex class="attr-value"
                                     ng-class="makeClass(item.current, item.other)">
                                    <span ng-show="item.current.src && item.current.dst">{{item.current.src.device}}/{{item.current.src.port}} &harr; {{item.current.dst.device}}/{{item.current.dst.port}}</span>
                                    <span ng-hide="item.current.src && item.current.dst">&empty;</span>
                                </div>
                                <div flex class="attr-value"
                                     ng-class="makeClass(item.other, item.current)">
                                    <span ng-show="item.other.src && item.other.dst">{{item.other.src.device}}/{{item.other.src.port}} &harr; {{item.other.dst.device}}/{{item.other.dst.port}}</span>
                                    <span ng-hide="item.other.src && item.other.dst">&empty;</span>
                                </div>
                            </div>
                            </div>
                        </div>
                    </collapsible-item>
                    <collapsible-item item-title="Network" initially-open="true">
                        <div layout="column" ng-repeat="item in cc.networks"
                             ng-hide="hideUnchangedItems(item)"
                             ng-class="{'even-wrap': !($index %2)}">

                            <div flex layout="row" class="attr-row"
                                 ng-class="makeClass(item.current, item.other, {'modification': 'equation'})">
                                <div flex="30" class="attr-header">
                                    <span><strong>{{item.current.name || item.other.name}}</strong></span>
                                </div>
                                <div flex="70" layout="column">

                                    <div ng-show="setting.style=='dense'">
                                    <div ng-hide="hideUnchangedItems(item.current.desc, item.other.desc)">
                                        <div flex class="attr-label">
                                            <span>Description</span>
                                        </div>
                                        <div flex
                                             ng-show="item.other.desc && item.current.desc != item.other.desc">
                                            <div class="attr-value bottom-line"
                                                 ng-class="makeClass(item.current.desc, item.other.desc, {'modification': 'deletion'})">
                                                <span>{{item.other.desc}}</span>
                                            </div>
                                        </div>
                                        <div flex
                                             ng-show="item.current.desc">
                                            <div class="attr-value bottom-line"
                                                 ng-class="makeClass(item.current.desc, item.other.desc, {'modification': 'addition'})">
                                                <span>{{item.current.desc}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    </div>

                                    <div ng-show="setting.style=='column'">
                                    <div ng-hide="hideUnchangedItems(item.current.desc, item.other.desc)">
                                        <div flex class="attr-label">
                                            <span>Description</span>
                                        </div>
                                        <div flex layout="row">
                                            <div flex class="attr-value bottom-line"
                                                 ng-class="makeClass(item.current.desc, item.other.desc)">
                                                <span>{{item.current.desc || '&empty;'}}</span>
                                            </div>
                                            <div flex class="attr-value bottom-line"
                                                 ng-class="makeClass(item.other.desc, item.current.desc)">
                                                <span>{{item.other.desc || '&empty;'}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    </div>

                                    <div ng-show="setting.style=='dense'">
                                    <div ng-hide="hideUnchangedItems(item.current.vlan, item.other.vlan)">
                                        <div flex class="attr-label">
                                            <span>VLAN</span>
                                        </div>
                                        <div flex
                                             ng-show="item.other.vlan && item.current.vlan != item.other.vlan">
                                            <div class="attr-value bottom-line"
                                                 ng-class="makeClass(item.current.vlan, item.other.vlan, {'modification': 'deletion'})">
                                                <span>{{item.other.vlan}}</span>
                                            </div>
                                        </div>
                                        <div flex
                                             ng-show="item.current.vlan">
                                            <div class="attr-value bottom-line"
                                                 ng-class="makeClass(item.current.vlan, item.other.vlan, {'modification': 'addition'})">
                                                <span>{{item.current.vlan}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    </div>

                                    <div ng-show="setting.style=='column'">
                                    <div ng-hide="hideUnchangedItems(item.current.vlan, item.other.vlan)">
                                        <div flex class="attr-label">
                                            <span>VLAN</span>
                                        </div>
                                        <div flex layout="row">
                                            <div flex class="attr-value bottom-line"
                                                 ng-class="makeClass(item.current.vlan, item.other.vlan)">
                                                <span>{{item.current.vlan || '&empty;'}}</span>
                                            </div>
                                            <div flex class="attr-value bottom-line"
                                                 ng-class="makeClass(item.other.vlan, item.current.vlan)">
                                                <span>{{item.other.vlan || '&empty;'}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    </div>

                                    <div ng-show="setting.style=='dense'">
                                    <div ng-hide="hideUnchangedItems(item.current.members, item.other.members)">
                                        <div flex class="attr-label">
                                            <span>Members</span>
                                        </div>
                                        <div flex
                                             ng-repeat="member in item.members"
                                             ng-hide="hideUnchangedItems(member)">
                                            <div class="attr-value"
                                                 ng-class="makeClass(member.current, member.other)">
                                                <span>{{member.current || member.other}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    </div>

                                    <div ng-show="setting.style=='column'">
                                    <div ng-hide="hideUnchangedItems(item.current.members, item.other.members)">
                                        <div flex class="attr-label">
                                            <span>Members</span>
                                        </div>
                                        <div flex layout="row">
                                            <div flex class="attr-value bottom-line"
                                                 ng-class="makeClass(item.current.members, item.other.members)">
                                                <p ng-repeat="member in item.current.members">{{member}}</p>
                                            </div>
                                            <div flex class="attr-value bottom-line"
                                                 ng-class="makeClass(item.other.members, item.current.members)">
                                                <p ng-repeat="member in item.other.members">{{member}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </collapsible-item>
                </ang-accordion>
            </div>

        <!--</div>-->
        </md-card-content>
    </md-card>
</div>
