#ov-configHistoryDetail {
    position: absolute;
    overflow-y: auto;
    margin-left: 22px;
    margin-top: 18px;
    height: 90%;
    width: calc(100% - 30px);
}

#ov-configHistoryDetail h2 {
    margin: unset;
}

#ov-configHistoryDetail .row {
    padding-bottom: 5px;
}

#ov-configHistoryDetail .chat ul {
    list-style: none;
    padding: unset;
    padding-left: 5px;
}

#ov-configHistoryDetail .chat .chat-date {
    background-color: #f8f9fa;
    height: 2em;
}

#ov-configHistoryDetail .chat ul li {
    border-bottom: 1px solid #eee;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

#ov-configHistoryDetail .chat ul li.danger {
    border-left: solid;
    border-left-width: 0.5em;
    border-left-color: #ed1c24;
}

#ov-configHistoryDetail .chat ul li.warning {
    border-left: solid;
    border-left-width: 0.5em;
    border-left-color: rgb(250, 187, 61);
}

#ov-configHistoryDetail .chat ul li.active {
    border-left: solid;
    border-left-width: 0.5em;
    border-left-color: rgb(0, 69, 153);
}

#ov-configHistoryDetail .chat .panel-body {
    padding: unset;
}

.p-x-1 {
    padding-right: 1rem;
    padding-left: 1rem;
}

#ov-configHistoryDetail .panel {
    border-radius: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    margin-right: 22px;
}

#ov-configHistoryDetail .panel-heading {
    background-color: #f8f9fa;
}

#ov-configHistoryDetail #search-result-detail {
    border-radius: 0;
    box-shadow: none;
    margin-right: unset;
}

#ov-configHistoryDetail .inline-box {
    display: inline-block;
}

/*#ov-configHistoryDetail .top-panel {*/
    /*margin-top: 20px;*/
/*}*/

#ov-configHistoryDetail div.align-right {
    float: right;
}

#ov-configHistoryDetail th.table-label {
    text-align: left;
    padding-left: 5px;
}

#ov-configHistoryDetail td.table-label {
    text-align: right;
    vertical-align: top;
    padding-right: 5px;
}

#ov-configHistoryDetail td.table-value {
    text-align: left;
    padding-left: 5px;
}

#ov-configHistoryDetail .row-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-color: #ccc;
    border-bottom-style: solid;
}

#ov-configHistoryDetail .row-value-wrapper {
    padding-top: 0px;
    padding-bottom: 0px;
}

#ov-configHistoryDetail .label {
    /* remove bootstrap style */
    color: unset;
    border-radius: unset;
    padding: unset;

    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.5;
    font-size: 80%;
    font-weight: 700;
    /*color: #0e70c0;*/

    /*background-color: #fafafa;*/
    /*background-color: #eaeaea;*/
    text-align: left;
}

#ov-configHistoryDetail .value {
    /*border-width: 1px;*/
    /*border-color: #eeeeee;*/
    /*border-bottom-style: solid;*/
    line-height: 2;
}

#ov-configHistoryDetail .value.bottom-line {
    border-width: 1px;
    border-color: #e0e0e0;
    border-bottom-style: solid;
    line-height: 2;
}

#ov-configHistoryDetail .deletion {
    background-color: #ffdddd;
    border-color: #f1c0c0;
}

#ov-configHistoryDetail .addition {
    background-color: #eaffea;
}

#ov-configHistoryDetail .modification {
    background-color: #f3f8ff;
}

#ov-configHistoryDetail .dense .deletion span > strong,
#ov-configHistoryDetail .dense .deletion > span {
    text-decoration: line-through;
    -moz-text-decoration-color: #000;
    text-decoration-color: #000;
    color: #C62828;
}

.rotate {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}